html{
    box-sizing: border-box;
    // scroll-behavior: smooth;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
a{
    text-decoration: none;
    color: inherit;
}

ul,
li{
    list-style: none;
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
    font-size: inherit;
}
body{

    min-width: 320px;
    line-height: 26px;
    font-size: 16px;
    position: relative;

}

.screens-Article-ArticleContent-_-WideCover--WideCover__flag{
    height: 26px;
}
[data-ui-id="post"]{
    padding: 0 !important;
}


